<h2 id="title">Welcome to Ember.js</h2>
<div>
    format-date: {{format-date now}}
</div>
<div>
    format-time: {{format-time now}}
</div>
<div>
    format-currency: {{format-currency price}}
</div>
<div>
    format-text:
    <div style="margin-left:20px;">
        {{format-text text}}
    </div>
</div>
<div>
    input-focus: {{focus}}
    {{input value=focus autofocus="autofocus"}}
</div>
<div>
    input-url: {{url}}
    {{input-url value=url}}
</div>

<div>
    truncate:
    {{truncate-text value="Foo Bar" length=5}}
</div>
<div>
    truncate:
    {{truncate-text value="Foo Bar" length=5 postfix="??"}}
</div>
<div>
    truncate:
    {{truncate-text value="Foo Bar" length=10}}
</div>
<div>
    truncate:
    {{truncate-text length=3}}
</div>
